*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-color: #141218;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-position: right center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #ffffff;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.background {
    background: 
        linear-gradient(180deg, rgba(20, 18, 24, 0) 59.28%, #141218 100%), 
        linear-gradient(270deg, #141218 3.38%, rgba(20, 18, 24, 0) 10.43%), 
        linear-gradient(179.45deg, #141218 0.55%, rgba(20, 18, 24, 0) 8.71%), 
        radial-gradient(64.78% 125.62% at 72.8% 56.48%, rgba(20, 18, 24, 0.33) 19.93%, #141218 100%),
        url('../img/background.jpg'),
        #141218;
    height: 100vh;
    width: 1054px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.container {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

    &__menu {
        margin-right: auto;
    }

    &__logo {
        margin-right: 68px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 222px;
    
    &__item {
        color: #ffffff;
        text-decoration: none;
        position: relative;
    }
    
    &__item:after {
        content: '';
        background-color: #fff;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.25s;
        transform: scale(0);
    }

    &__item:hover:after {
        transform: scale(1);
    }
}

.socials {
    width: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__image {
        width: 17px;
    }
}

.main {
    margin-top: 90px;
    padding-right: 155px;

    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    &__title {
        img {
            width: 296px;
        }
    }

    &__description {
        margin-top: 10px;
        width: 458px;
    }

    &__button-watch {
        margin-top: 40px;
    }
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 192px;
    margin-top: 16px;
    
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 156px;
        margin-right: 10px;
    }

    &__image {
        width: 12px;
    }

    &__counter {
        font-size: 12px;
    }
}

.button-watch {
    cursor: pointer;
    padding: 22px 72px;
    background-color: #9D2929;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    line-height: auto;
    outline: none;
}

.button-play {
    cursor: pointer;
    background-color: #9D2929;
    border: none;
    box-shadow: 0 0 0 16px rgba(157, 41, 41, 0.5);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

    &__image {
        margin-right: -8px;
    }
}

.episodes {
    margin-top: 85px;
    margin-bottom: 100px;
}

.swiper-container {
    width: 420px;
    height: 115px;
    margin: 0;
}

.swiper-wrapper {
    position: relative;
}

.button-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    outline: none;
}

.episode {
    width: 164px;
    height: 115px;
    background-size: cover;
    border-radius: 8px;
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    &__counter {
        font-size: 10px;
        line-height: 12px;
        text-decoration: none;
        color: #ffffff;
    }

    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 0;
        margin-top: 2px;
        text-decoration: none;
        color: #ffffff;
    }
}

.episode--1 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/episode-1.jpg');
}

.episode--2 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/episode-2.jpg');
}

.footer {
    background-color: #141218;
    margin-bottom: auto;
    padding: 20px;
    width: 100%;

    &__container {
        width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rights {
        color: #727174;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 276px;
    }

    &__link {
        color: #727174;
        text-decoration: none;
    }
}
    
.menu-button {
    width: 24px;
    height: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    z-index: 6;

    &__line {
        width: 24px;
        height: 2px;
        background-color: #ffffff;
        transition: 0.2s;
    }
}

.m-menu {
    background-color: #9d2929;
    position: fixed;
    top: 0;
    right: 0;
    padding: 40px 92px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 265px;
    z-index: 5;

    &__menu {
        flex-direction: column;
        height: 82px;
        width: auto;
    }
}

.m-menu.active {
    display: flex;
}

.menu-button.active {

    .menu-button__line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
    }

    .menu-button__line:nth-child(2) {
        display: none;
    }

    .menu-button__line:nth-child(3) {
        transform: rotate(-45deg);
    }
}



@media(max-width: 1250px) {
    
    .container {
        width: 920px;
    }
    
    .footer__container {
        width: 920px;
    }
}

@media(max-width: 992px) {

    .container {
        width: 700px;
    }

    .footer__container {
        width: 700px;
    }

    .main {
        padding-right: 80px;
    }
}

@media(max-width: 768px) {

    .header {
        padding-top: 40px;
    }

    .container {
        width: 520px;
    }

    .footer{
        
        &__container {
            width: 520px;
            flex-wrap: wrap;
        }

        &__links {
            margin-top: 8px;
        }
    }

    .button-play {
        display: none;
    }

    .episodes {
        margin-bottom: 70px;
    }

    .background {
        right: -10%;
    }
}

@media(max-width: 576px) {

    .container {
        width: 440px;
    }

    .header {
        align-items: flex-start;
    }

    .header__menu {
        display: none;
    }

    .header__socials {
        display: none;
    }

    .menu-button {
        display: flex;
    }

    .footer__container {
        width: 440px;
    }
    
    .background {
        right: -40%;
    }

    .swiper-container {
        width: 240px;
    }

    .main {
        
        &__description {
            width: auto;
        }

        &__button-watch {
            margin-top: 25px;
        }
    }

    .episodes {
        margin-top: 65px;
        margin-bottom: 70px;
    }
}

@media(max-width: 480px) {

    .container {
        width: 300px;
    }

    .footer__container {
        width: 300px;
    }

    .main {
        margin-top: 50px;
    }

    .background {
        right: -60%;
    }

    .episodes {
        margin-bottom: 110px;
    }
}